body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav {
  background-color: #c9184a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

h1 {
  color: #590d22;
}

nav h1 a {
  font-size: 2.5em;
}

nav h1 a:hover {
  color: #fff0f3;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #ffb3c1;
}

button, input[type="submit"] {
  background-color: transparent;
  color: #800f2f;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
}

/* button a {
  color: #ffd8a4;
} */

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  border-collapse: collapse;
  color: #ffccd5;
  margin: auto;
  width: 60%;
}

td {
  padding: 1em;
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

thead {
  background-color: #590d22;
}

tbody tr:nth-child(odd) {
  background: #c9184a;
}

tbody tr:nth-child(even) {
  background: #a4133c;
}

/* .New {
  border: 1px solid gold;
  margin: auto;
  width: 95%;
} */

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

article {
  margin: auto;
  width: 70%;
}

.songDetail {
  background-color: #a4133c;
  box-shadow: 2px 2px 4px #808080;
  color: #ffccd5;
  margin: auto;
  padding: 2em 5em 2em 5em;
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  width: 50%;
}
